<% include ./partials/header%>
<div class="ui segment centered text">
    <div class="top">
            <h1>THANK YOU FOR ADOPTING <%= dog.name.toUpperCase()%></h1>
            <img  src="<%=dog.image%>" alt="">
    </div>
       
</div>

<% include ./partials/footer%>
